.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# =========================
# Backend (Django / Python)
# =========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos DBFs
.dbf

# Virtual environments
.env/
.env
env
venv/
env/
.venv/
.env_folder/

# Database (geralmente ignorado no controle de versão)
db.sqlite3
db.sqlite3-journal

# Media files (arquivos enviados por usuários)
media/
/backend/media/

# Django specific & Logs
*.log
local_settings.py

# =========================
# Frontend (React + Vite + Tailwind)
# =========================
# Dependências
node_modules/
.node_modules/
.pnp
.pnp.js

# Build outputs (arquivos gerados para produção)
dist/
dist-ssr/
build/
/frontend/dist/

# Cache do Vite / Framework
.vite/
.eslintcache

# Variáveis de Ambiente (NUNCA comite senhas ou chaves)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*